@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  body {
    background-color: #f3fef6;
  }
}
